.img{
    display: inline-block;
    width: 221px;
    height: 221px;
    border-radius: 50%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
    background-color: black;
    position: relative;
}
.img::before{
    background-size: cover;
    position: absolute;
    margin-top: 70px;
    scale: 0;
    text-decoration: underline;
    width: 221px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 221px;
    margin-top: -0px;
    border-radius: 50%;
    transition: .8s;
}
.img1::before{
    content: 'iPhone';
    position: absolute;
    margin-top: 70px;
    scale: 0;
    text-decoration: underline;
    width: 221px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 221px;
    border-radius: 50%;
    transition: .8s;
    margin-left: -91px;
    margin-top: -0px;
    background-image: url(anar.jpeg);
}
.img2::before{
    content: 'Siuuuu';
    position: absolute;
    margin-top: 70px;
    scale: 0;
    text-decoration: underline;
    width: 221px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 221px;
    border-radius: 50%;
    transition: .8s;
    margin-left: -84px;
    margin-top: -0px;
    background-image: url(hemid.jpeg);
}
.img:hover::before{
    scale: 1;
}
.img3::before{
    content: 'Bicaq';
    border-radius: 50%;
    transition: .8s;
    margin-left: -89px;
    background-image: url(leyla.jpeg);
}
.img4::before{
    content: 'Nokia 3311';
    margin-left: -84px;
    background-image: url(davud.jpeg);
}
.img5::before{
    content: 'Bulbul';
    margin-left: -73px;
    background-image: url(elmeddin.jpeg);
}
.img6::before{
    content: 'Nice';
    margin-left: -88px;
    background-image: url(ramo.jpeg);
}
.fkq{
    position: absolute;
    bottom:0;
    text-align: center;
    font-size: 2em;
    border: 3px solid white;
    outline: 2px solid aqua;
    width: 99.45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
    background-color: aquamarine;
}